<table>
  <% home_dir.each do |home| %>
    <% file_name = File.basename(home) %>
    <tr>
      <td>
        <% if File.directory? home %>
          <%= image_tag "files.svg", size: "16x16", class: "img" %>
        <% else %>
          <%= image_tag "document.svg", size: "16x16", class: "img" %>
        <% end %>
      </td>
      <td>
        <%= link_to file_name, "#{sharx_path}#{home}", class: "home_dir" %>
      </td>
      <td>
        <% if File.file?(home) && File.extname(home).end_with?(*%w[mp3 mp4 png jpg jpeg gif]) %>
          <%= link_to "#", title: "play" do %>
            <%= image_tag "play.svg", size: "16x16", class: "img" %>
          <% end %>
        <% end %>
      </td>
      <td>
        <% if File.file?(home) %>
          <%= link_to "/sharx/download#{home}", title: "download" do %>
            <%= image_tag "download.svg", size: "16x16", class: "img" %>
          <% end %>
        <% end %>
      </td>
      <td>
        <%= `ls -lh "#{home}" | cut -f5 -d' '` if File.file?(home) %>
      </td>
    </tr>
  <% end %>
</table>